*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    font-family: Inter;
    height:100%;
    margin: 40px 0;
    

  
}
/* div{
    border:1px solid red;
} */

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:20vh;
}

#profile_img{
    width:100px;
    height:100px;
    border-radius: 50%;
}
#twitter{
    width:70%;
    padding-top: 20px;
    text-align: center;
}
#slack{
    display:none;
}
.avatar-sharearrow{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 280px;
    top: 20px;
}
.avatar-sharebtn{
    display: none;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 12px;
}
a{
    color: #101828;
    font-style: normal;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    width:70%;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background: #EAECF0;
    
}
.icons{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:80px;
     width:70%;
   
 }
 .social-icons{
     display: flex;
     gap: 24px;
 }
 .footer{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF;
   
}
#footerr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #EAECF0;
    width: 70%;
    height: 100px;
    padding: 32px 0px 0px;
}
.HNG{
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
}


@media (max-width:650px){
    .body{
        display: flex;
        flex-direction: column;
       justify-content: center;
        align-items: center;
        background: #FFFFFF;
        height: 100%;
      
    }
    .avatar-sharearrow{
        display:none;

    }
    .avatar-sharebtn{
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 70px;
        top: 50px;
    }
    a{
        width:80%;
       padding: 15px 100px;
       margin:5px;
    }
    #footerr{
        width:300px;
        flex-direction: column;
       align-items: flex-start;
        height:124px;
       
      
    }
    .social-icons{
        display: flex;
        gap: 35px;
    }
    .footer{
        /* margin-left: -32%; */
       }
     .HNG{
         margin-bottom: 15px;
     }
     /* div{
         border:1px solid red;
     } */
    
}